$dark: #0c0c0c
$light: #eee
$mid: #555
$serif: "Vollkorn", serif
$sans: "Work Sans", sans-serif

*
  margin: 0
  padding: 0

body::after
  content: ""
  width: 100%
  height: 100px
  background: #0c0c0c
  z-index: -1
  position: absolute
  top: 0
  left: 0

a
  -webkit-tap-highlight-color: transparent

/*Header

header
  position: fixed
  top: 0
  z-index: 9
  width: 100%

.container
  max-width: 900px
  margin: auto

.header
  background-color: #0c0c0c
  display: flex
  max-height: 100px
  height: 100vw
  margin: auto
  transition: 0.3s
  transition-timing-function: linear

  button
    background: none
    border: none
    height: 50px
    margin-top: 25px
    width: 50px
    display: grid
    align-content: center
    color: #eee
    outline: none
    cursor: pointer
    -webkit-tap-highlight-color: transparent
    transition: 0.3s
    transition-timing-function: linear

  #materialMenuIcon
    transition: 1s

  h1
    flex: 1
    display: grid
    align-content: center
    text-align: center

    a
      text-decoration: none
      color: #eee
      font-family: "Vollkorn", serif
      font-size: 0.7rem
      font-weight: normal
      outline: none

#navigationBar
  position: absolute
  background: rgba(0, 0, 0, 0.95)
  width: 100%
  max-width: 900px
  max-height: 0
  overflow-y: scroll
  top: 100px
  transition: 0.3s
  transition-timing-function: linear
  z-index: 9

  &::-webkit-scrollbar
    width: 0px

  button
    margin: auto !important
    height: 50px
    width: 100%
    font-family: "Work Sans", sans-serif
    font-size: 1em
    border-bottom: 1px solid #0c0c0c

  .list
    text-align: center
    margin-bottom: 0px
    max-height: 0
    overflow: hidden
    transition: 0.5s

    &:last-child li:last-child
      padding-bottom: 10px

  ul li a
    width: 200px
    margin: auto
    height: 40px
    display: grid
    align-content: center
    text-decoration: none
    text-align: left

    /*    background: #ccc;
    font-family: "Vollkorn", serif
    font-weight: normal
    font-size: 0.7em
    color: #eee
    outline: none
    transition: 0.5s
    overflow: hidden

    &:hover
      color: #555

#searchBar
  background: rgba(0, 0, 0, 0.95)
  width: 100%
  max-height: 0
  overflow: hidden
  position: absolute
  max-width: 900px
  top: 100px
  transition: 0.3s
  transition-timing-function: linear
  z-index: 9999

#searchForm
  height: 100%
  display: flex
  flex-direction: row
  padding: 5px
  box-sizing: border-box

  input
    flex: 1
    border: 0
    padding: 5px
    height: 40px
    outline: none
    font-size: 1em
    font-family: "Work Sans", sans-serif

  button
    margin: 0 !important
    height: 50px

.upButton
  position: fixed
  width: 40px
  height: 40px
  border-radius: 50%
  background: rgba($dark, 0.8)
  color: $light
  right: 20px
  bottom: 20px
  border: 1px solid $light
  text-align: center
  display: none
  align-items: center
  font-size: 1.5em
  z-index: 9
  opacity: 0
  transition: 0.3s
  transition-timing-function: linear
  cursor: pointer
  outline: none
  -webkit-tap-highlight-color: transparent

/*Material

.material-icons
  font-size: 1em !important

/*Footer

footer
  background: #090909
  overflow: hidden
  padding: 50px 0

  .footer__text
    font-family: "Vollkorn", serif
    font-size: 1em
    padding: 20px
    color: #eee

  .footer__col
    width: 90%
    max-width: 400px

    /*    background: #ccc;
    // padding: 0 20px
    box-sizing: border-box
    margin: 20px auto 0

  .footer__h3
    font-family: "Work Sans", sans-serif
    color: #eee
    line-height: 40px
    text-align: center
    cursor: pointer
    -webkit-tap-highlight-color: transparent

  .footer__list
    border-top: 1px solid #eee
    max-height: 0px
    overflow: hidden
    transition: .6s
    transition-timing-function: linear

    li
      line-height: 40px
      text-align: center
      list-style: none
      font-family: "Vollkorn", serif

      &:first-child
        margin-top: 10px

      a
        text-decoration: none
        color: #eee

  .footer__logo
    background: #eee
    font-family: "Vollkorn", serif
    font-size: 2em
    margin-top: 50px
    line-height: 100px
    text-align: center
    position: relative

  .footer__myname
    font-family: "Work Sans", sans-serif
    color: #eee
    line-height: 20px
    font-size: 0.5rem
    text-align: center
    text-decoration: none
    display: block

  .footer__logo a
    text-decoration: none
    color: #090909
    font-weight: normal

.footer__returns
  background: rgba(#000, 0.8)
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  display: none
  justify-items: center
  align-content: center
  z-index: 999
  transition: .3s
  // opacity: 0

  .returnsModal
    width: 90%
    max-width: 600px
    // height: 300px
    max-height: 300px
    background: #fff
    overflow: hidden
    // padding-top: 40px
    box-sizing: border-box
    position: relative

    .returnsHeader
      font-family: $sans
      font-size: 2em
      color: $dark
      text-align: center
      line-height: 60px

    .returnsSubtitle
      font-family: $sans
      font-size: 1em
      color: $dark
      margin-bottom: 10px
      padding: 0px 10px
      // text-align: center

    .returnsText
      padding: 0px 10px
      font-family: $serif
      font-size: 1em
      color: $dark
      margin-bottom: 20px


.footer__shipping
  // background: rgba(255, 255, 255, 1)
  background: rgba(#000, 0.8)
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  display: none
  justify-items: center
  align-content: center
  z-index: 999
  transition: .3s
  opacity: 0
  /* overflow-y: scroll;

.shippingModal
  width: 90%
  max-width: 600px
  // height: 400px
  max-height: 400px
  background: #fff
  overflow: hidden
  padding-top: 40px
  box-sizing: border-box
  position: relative
  // box-shadow: 0px 0px 5px #555

  .shippingInfo
    width: 100%
    height: 100%
    /* background: #bbb;
    overflow-y: scroll

  #sky
    width: 100%
    height: 40px
    background: #fff
    left: 0
    top: 0
    position: absolute
    // box-shadow: 0px 0px 30px 20px #fff
    box-shadow: 0px 0px 5px #bbb
    // border-bottom: 1px solid $dark

    #plane
      position: absolute
      width: 40px
      height: 40px
      display: grid
      text-align: center
      align-items: center
      transform: rotate(90deg)
      left: 40px
      top: 0
      color: #000
      /* background: #ccc;
      transition: .3s
      transition-timing-function: ease-out

    span
      /* background: #bbb;
      color: #000
      width: 40px
      height: 40px
      display: block
      position: absolute
      text-align: center
      display: grid
      align-items: center
      justify-content: center
      font-family: "Work Sans", sans-serif
      font-size: 1em
      text-align: left
      left: 0
      top: 0

    #letterB
      right: 0
      left: auto

  .shipping__h2
    /* background: #ddd;
    font-family: "Work Sans", sans-serif
    font-size: 2em
    text-align: center
    color: #0c0c0c
    line-height: 80px

  .shipping__p
    font-family: "Vollkorn", sans-serif
    font-size: 1em
    text-align: left
    color: #0c0c0c
    text-indent: 20px
    margin-bottom: 10px
    padding: 0 20px

.hidden
  opacity: 0
  transition: 1s
