$dark: #0c0c0c
$light: #eee
$mid: #555
$serif: "Vollkorn", serif
$sans: "Work Sans", sans-serif

*
  margin: 0
  padding: 0

body
  /*    background: #eee;
  &::after
    content: ""
    width: 100%
    height: 100px
    background: #0c0c0c
    z-index: -1
    position: absolute
    top: 0
    left: 0

a
  -webkit-tap-highlight-color: transparent

/*Header

header
  background: #0c0c0c
  position: fixed
  top: 0
  z-index: 9
  width: 100%

.container
  max-width: 900px
  margin: auto

.header
  display: flex
  max-height: 100px
  height: 100vw
  margin: auto
  transition: 0.3s
  transition-timing-function: linear

  /*    transform: rotate(-30deg);
  button
    background: none
    border: none
    height: 50px

    /*    background: #ccc;
    margin-top: 25px
    width: 50px
    display: grid
    color: #eee
    outline: none
    cursor: pointer
    -webkit-tap-highlight-color: transparent
    transition: 0.3s
    transition-timing-function: linear

  #materialMenuIcon
    transition: 1s

  h1
    flex: 1
    display: grid
    align-content: center
    text-align: center

    a
      text-decoration: none
      color: #eee
      font-family: "Vollkorn", serif
      font-size: 0.7rem
      font-weight: normal
      outline: none

#navigationBar
  position: absolute
  background: rgba(0, 0, 0, 0.95)
  width: 100%
  max-width: 900px
  max-height: 0
  overflow-y: scroll
  top: 100px
  transition: 0.3s
  transition-timing-function: linear
  z-index: 9

  &::-webkit-scrollbar
    width: 0px

  button
    /*        background: #ccc;
    margin: auto !important
    height: 50px
    width: 100%
    font-family: "Work Sans", sans-serif
    font-size: 1em
    border-bottom: 1px solid #0c0c0c

  .list
    /*    background: #999;
    text-align: center
    margin-bottom: 0px
    max-height: 0
    overflow: hidden
    transition: 0.5s

    /*    transition-timing-function: linear;
    &:last-child li:last-child
      padding-bottom: 10px

  ul li a
    /*    background: #777;
    /*    display: block;
    width: 200px
    margin: auto
    height: 40px
    display: grid
    align-content: center
    text-decoration: none
    text-align: left

    /*    background: #ccc;
    font-family: "Vollkorn", serif
    font-weight: normal
    font-size: 0.7em
    color: #eee
    outline: none
    transition: 0.5s
    overflow: hidden

    /*-webkit-touch-callout: none;
     *-webkit-user-select: none;
     *-khtml-user-select: none;
     *-moz-user-select: none;
     *-ms-user-select: none;
     *user-select: none;

    /*    -webkit-tap-highlight-color: transparent;
    &:hover
      /*    height: 0;
      color: #555

/*#navigationBar ul li{
 *background: #888;
 *}

#searchBar
  background: rgba(0, 0, 0, 0.95)
  width: 100%
  max-height: 0
  overflow: hidden
  position: absolute
  max-width: 900px
  top: 100px
  transition: 0.3s
  transition-timing-function: linear
  z-index: 9999

#searchForm
  height: 100%
  display: flex
  flex-direction: row
  padding: 5px
  box-sizing: border-box

  input
    flex: 1
    border: 0
    padding: 5px
    height: 40px
    outline: none
    font-size: 1em
    font-family: "Work Sans", sans-serif

  button
    margin: 0 !important
    height: 50px

    /*    background: #ccc;

/*Material

.material-icons
  font-size: 1em !important

main
  margin-top: 100px
  overflow: hidden

  .main__h2
    line-height: 80px

    // margin-top: 30px
    // display: inline-block
    width: 100%
    color: $dark
    font-family: $sans
    font-size: 2em
    text-align: center

  .main__quote
    width: 90%
    float: right
    text-align: right
    font-family: $serif
    color: $light
    font-size: 1em
    background: $dark
    padding: 5px
    margin-right: 10px
    margin-bottom: 30px

  .main__sorting

    .sorting__sortButton
      text-decoration: none
      color: #090909
      background: none
      display: grid
      text-align: center
      align-content: center
      margin: auto
      width: 100px
      height: 30px
      font-size: 1em
      font-family: "Work Sans", sans-serif
      font-weight: bold
      transition: 0.3s
      border: none
      border-bottom: 1px solid #090909
      border-top: 1px solid #fff
      cursor: pointer
      outline: none
      -webkit-tap-highlight-color: transparent
      box-sizing: border-box

    .sorting__sortButton:hover
      background: #090909
      color: #eee
      border: none

    .sorting__sortNav
      width: 90%
      margin: auto
      max-width: 400px
      max-height: 0
      overflow: hidden
      transition: .5s
      transition-timing-function: linear

      a
        text-decoration: none
        font-family: $serif
        color: $dark
        display: block
        line-height: 40px
        transition: .3s
        text-align: center

      a:hover
        color: $mid

      a:first-child
        margin-top: 10px

  .main__block
    width: 90%
    display: flex
    flex-wrap: wrap
    margin: 20px auto

    .block__product
      width: 100%
      max-width: 300px
      height: 400px
      margin: 0 auto 30px
      display: flex
      flex-direction: column
      text-decoration: none

      .product__image
        background-image: url('img/mtshirt0.jpeg')
        background-position: 50%
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 50%
        flex: 1

      .product__Name
        line-height: 40px
        text-align: center
        font-family: $serif
        font-size: 1em
        background: $dark
        color: $light
        border-top: 2px solid $dark

      .product_Price
        line-height: 40px
        font-family: $sans
        font-size: 1em
        text-align: center
        color: $dark

    .block__product:nth-child(2) .product__image
      background-image: url('img/menHat0.jpeg')
      background-position: 20%

    .block__product:nth-child(3) .product__image
      background-image: url('img/mJeans0.jpg')

    .block__product:nth-child(4) .product__image
      background-image: url('img/menHat1.jpeg')

  .main__block:nth-of-type(2)

    .block__product:nth-child(1) .product__image
      background-image: url('img/mJeans1.jpeg')
      background-position: 80%

    .block__product:nth-child(2) .product__image
      background-image: url('img/mJeans2.jpeg')
      background-position: 60%

    .block__product:nth-child(3) .product__image
      background-image: url('img/menHat2.jpeg')

    .block__product:nth-child(4) .product__image
      background-image: url('img/mtshirt1.jpeg')

/*Footer

footer
  background: #090909
  overflow: hidden
  padding: 50px 0

.footer__text
  font-family: "Vollkorn", serif
  font-size: 1em
  padding: 20px
  color: #eee

.footer__col
  width: 90%
  max-width: 400px

  /*    background: #ccc;
  padding: 0 20px
  box-sizing: border-box
  margin: 20px auto 0

.footer__h3
  font-family: "Work Sans", sans-serif
  color: #eee
  line-height: 40px
  text-align: center
  cursor: pointer
  -webkit-tap-highlight-color: transparent

.footer__list
  border-top: 1px solid #eee
  max-height: 0px
  overflow: hidden
  transition: 0.3s
  transition-timing-function: linear

  li
    line-height: 40px
    text-align: center
    list-style: none
    font-family: "Vollkorn", serif

    &:first-child
      margin-top: 10px

    a
      text-decoration: none
      color: #eee

.footer__logo
  background: #eee
  font-family: "Vollkorn", serif
  font-size: 2em
  margin-top: 50px
  line-height: 100px
  text-align: center
  position: relative

.footer__myname
  font-family: "Work Sans", sans-serif
  color: #eee
  line-height: 20px
  font-size: 0.5rem
  text-align: center
  text-decoration: none
  display: block

.footer__logo a
  text-decoration: none
  color: #090909
  font-weight: normal

.hidden
  opacity: 0
  transition: 1s
