$dark: #0c0c0c
$light: #eee
$mid: #555
$serif: "Vollkorn", serif
$sans: "Work Sans", sans-serif

main
  margin-top: 100px
  overflow: hidden

  .main__h2
    line-height: 80px

    // margin-top: 30px
    // display: inline-block
    width: 100%
    color: $dark
    font-family: $sans
    font-size: 2em
    text-align: center

  .main__quote
    width: 90%
    float: right
    text-align: right
    font-family: $serif
    color: $light
    font-size: 1em
    background: $dark
    padding: 10px

    // margin: auto
    // margin-right: 10px
    margin-bottom: 30px

  .main__sorting
    .sorting__sortButton
      text-decoration: none
      color: #090909
      background: none
      display: grid
      text-align: center
      align-content: center
      margin: auto
      width: 100px
      height: 30px
      font-size: 1em
      font-family: "Work Sans", sans-serif
      font-weight: bold
      transition: 0.3s
      border: none
      border-bottom: 1px solid #090909
      border-top: 1px solid #fff
      cursor: pointer
      outline: none
      -webkit-tap-highlight-color: transparent
      box-sizing: border-box

    .sorting__sortButton:hover
      background: #090909
      color: #eee
      border: none

    .sorting__sortNav
      width: 90%
      margin: auto
      max-width: 400px
      max-height: 0
      overflow: hidden
      transition: 0.5s
      transition-timing-function: linear

      a
        text-decoration: none
        font-family: $serif
        color: $dark
        display: block
        line-height: 40px
        transition: 0.3s
        text-align: center

      a:hover
        color: $mid

      a:first-child
        margin-top: 10px

  .main__block
    width: 90%
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin: 30px auto
    // background: #aaa

    .block__product
      // background: #ccc
      width: 100%
      max-width: 300px
      height: 400px
      margin: 0 10px 30px
      display: flex
      flex-direction: column
      text-decoration: none

      &:last-child
        margin-bottom: 0

      .product__image
        background-image: url("img/mtshirt0.jpeg")
        background-position: 50%
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 50%
        flex: 1

      .product__Name
        line-height: 40px
        text-align: center
        font-family: $serif
        font-size: 1em
        background: $dark
        color: $light
        border-top: 2px solid $dark

      .product_Price
        line-height: 40px
        font-family: $sans
        font-size: 1em
        text-align: center
        color: $dark

    .block__product:nth-child(2) .product__image
      background-image: url("img/menHat0.jpeg")
      background-position: 20%

    .block__product:nth-child(3) .product__image
      background-image: url("img/mJeans0.jpg")

    .block__product:nth-child(4) .product__image
      background-image: url("img/menHat1.jpeg")

  .main__block:nth-of-type(2)
    .block__product:nth-child(1) .product__image
      background-image: url("img/mJeans1.jpeg")
      background-position: 80%

    .block__product:nth-child(2) .product__image
      background-image: url("img/mJeans2.jpeg")
      background-position: 60%

    .block__product:nth-child(3) .product__image
      background-image: url("img/menHat2.jpeg")

    .block__product:nth-child(4) .product__image
      background-image: url("img/mtshirt1.jpeg")

  .main__carousel
    width: 100%
    height: 400px
    // background: #ccc
    overflow-x: scroll
    overflow-y: hidden

    &::-webkit-scrollbar
      height: 0px

    .carousel__images
      display: flex
      height: 100%
      // background: #a33
      justify-content: center

      .carouselImage
        flex-shrink: 0
        width: 300px
        margin: 0 5px
        color: $light
        font-size: 2em
        background-position: 50%
        background-repeat: no-repeat
        background-size: cover
        display: grid
        align-content: center
        text-align: center
        text-decoration: none
        font-family: $sans
        text-shadow: 0px 0px 30px #000

        &:nth-child(1)
          background-image: url("img/menHat0.jpeg")
          background-position: 20%

        &:nth-child(2)
          background-image: url("img/mtshirt0.jpeg")

        &:nth-child(3)
          background-image: url("img/menHat2.jpeg")

        &:nth-child(4)
          background-image: url("img/mJeans1.jpeg")
          background-position: 80%

        &:nth-child(5)
          background-image: url("img/mtshirt1.jpeg")
