* {
  margin: 0;
  padding: 0;
}

body {
  /*    background: #eee; */
}

body::after {
  content: "";
  width: 100%;
  height: 100px;
  background: #0c0c0c;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  -webkit-tap-highlight-color: transparent;
}

/*Header */
header {
  background: #0c0c0c;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
}

.container {
  max-width: 900px;
  margin: auto;
}

.header {
  display: flex;
  max-height: 100px;
  height: 100vw;
  margin: auto;
  transition: 0.3s;
  transition-timing-function: linear;
  /*    transform: rotate(-30deg); */
}

.header button {
  background: none;
  border: none;
  height: 50px;
  /*    background: #ccc; */
  margin-top: 25px;
  width: 50px;
  display: grid;
  color: #eee;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
  transition-timing-function: linear;
}

.header #materialMenuIcon {
  transition: 1s;
}

.header h1 {
  flex: 1;
  display: grid;
  align-content: center;
  text-align: center;
}

.header h1 a {
  text-decoration: none;
  color: #eee;
  font-family: "Vollkorn", serif;
  font-size: 0.7rem;
  font-weight: normal;
  outline: none;
}

#navigationBar {
  position: absolute;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  max-width: 900px;
  max-height: 0;
  overflow-y: scroll;
  top: 100px;
  transition: 0.3s;
  transition-timing-function: linear;
  z-index: 9;
}

#navigationBar::-webkit-scrollbar {
  width: 0px;
}

#navigationBar button {
  /*        background: #ccc; */
  margin: auto !important;
  height: 50px;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  border-bottom: 1px solid #0c0c0c;
}

#navigationBar .list {
  /*    background: #999; */
  text-align: center;
  margin-bottom: 0px;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  /*    transition-timing-function: linear; */
}

#navigationBar .list:last-child li:last-child {
  padding-bottom: 10px;
}

#navigationBar ul li a {
  /*    background: #777; */
  /*    display: block; */
  width: 200px;
  margin: auto;
  height: 40px;
  display: grid;
  align-content: center;
  text-decoration: none;
  text-align: left;
  /*    background: #ccc; */
  font-family: "Vollkorn", serif;
  font-weight: normal;
  font-size: 0.7em;
  color: #eee;
  outline: none;
  transition: 0.5s;
  overflow: hidden;
  /*-webkit-touch-callout: none;
     *-webkit-user-select: none;
     *-khtml-user-select: none;
     *-moz-user-select: none;
     *-ms-user-select: none;
     *user-select: none; */
  /*    -webkit-tap-highlight-color: transparent; */
}

#navigationBar ul li a:hover {
  /*    height: 0; */
  color: #555;
}

/*#navigationBar ul li{
 *background: #888;
 *} */
#searchBar {
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  max-width: 900px;
  top: 100px;
  transition: 0.3s;
  transition-timing-function: linear;
  z-index: 9999;
}

#searchForm {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  box-sizing: border-box;
}

#searchForm input {
  flex: 1;
  border: 0;
  padding: 5px;
  height: 40px;
  outline: none;
  font-size: 1em;
  font-family: "Work Sans", sans-serif;
}

#searchForm button {
  margin: 0 !important;
  height: 50px;
  /*    background: #ccc; */
}

/*Material */
.material-icons {
  font-size: 1em !important;
}

main {
  margin-top: 100px;
  overflow: hidden;
}

main .main__h2 {
  line-height: 80px;
  width: 100%;
  color: #0c0c0c;
  font-family: "Work Sans", sans-serif;
  font-size: 2em;
  text-align: center;
}

main .main__quote {
  width: 90%;
  float: right;
  text-align: right;
  font-family: "Vollkorn", serif;
  color: #eee;
  font-size: 1em;
  background: #0c0c0c;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 30px;
}

main .main__sorting .sorting__sortButton {
  text-decoration: none;
  color: #090909;
  background: none;
  display: grid;
  text-align: center;
  align-content: center;
  margin: auto;
  width: 100px;
  height: 30px;
  font-size: 1em;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  transition: 0.3s;
  border: none;
  border-bottom: 1px solid #090909;
  border-top: 1px solid #fff;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

main .main__sorting .sorting__sortButton:hover {
  background: #090909;
  color: #eee;
  border: none;
}

main .main__sorting .sorting__sortNav {
  width: 90%;
  margin: auto;
  max-width: 400px;
  max-height: 0;
  overflow: hidden;
  transition: .5s;
  transition-timing-function: linear;
}

main .main__sorting .sorting__sortNav a {
  text-decoration: none;
  font-family: "Vollkorn", serif;
  color: #0c0c0c;
  display: block;
  line-height: 40px;
  transition: .3s;
  text-align: center;
}

main .main__sorting .sorting__sortNav a:hover {
  color: #555;
}

main .main__sorting .sorting__sortNav a:first-child {
  margin-top: 10px;
}

main .main__block {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

main .main__block .block__product {
  width: 100%;
  max-width: 300px;
  height: 400px;
  margin: 0 auto 30px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

main .main__block .block__product .product__image {
  background-image: url("img/mtshirt0.jpeg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  flex: 1;
}

main .main__block .block__product .product__Name {
  line-height: 40px;
  text-align: center;
  font-family: "Vollkorn", serif;
  font-size: 1em;
  background: #0c0c0c;
  color: #eee;
  border-top: 2px solid #0c0c0c;
}

main .main__block .block__product .product_Price {
  line-height: 40px;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  text-align: center;
  color: #0c0c0c;
}

main .main__block .block__product:nth-child(2) .product__image {
  background-image: url("img/menHat0.jpeg");
  background-position: 20%;
}

main .main__block .block__product:nth-child(3) .product__image {
  background-image: url("img/mJeans0.jpg");
}

main .main__block .block__product:nth-child(4) .product__image {
  background-image: url("img/menHat1.jpeg");
}

main .main__block:nth-of-type(2) .block__product:nth-child(1) .product__image {
  background-image: url("img/mJeans1.jpeg");
  background-position: 80%;
}

main .main__block:nth-of-type(2) .block__product:nth-child(2) .product__image {
  background-image: url("img/mJeans2.jpeg");
  background-position: 60%;
}

main .main__block:nth-of-type(2) .block__product:nth-child(3) .product__image {
  background-image: url("img/menHat2.jpeg");
}

main .main__block:nth-of-type(2) .block__product:nth-child(4) .product__image {
  background-image: url("img/mtshirt1.jpeg");
}

/*Footer */
footer {
  background: #090909;
  overflow: hidden;
  padding: 50px 0;
}

.footer__text {
  font-family: "Vollkorn", serif;
  font-size: 1em;
  padding: 20px;
  color: #eee;
}

.footer__col {
  width: 90%;
  max-width: 400px;
  /*    background: #ccc; */
  padding: 0 20px;
  box-sizing: border-box;
  margin: 20px auto 0;
}

.footer__h3 {
  font-family: "Work Sans", sans-serif;
  color: #eee;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.footer__list {
  border-top: 1px solid #eee;
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s;
  transition-timing-function: linear;
}

.footer__list li {
  line-height: 40px;
  text-align: center;
  list-style: none;
  font-family: "Vollkorn", serif;
}

.footer__list li:first-child {
  margin-top: 10px;
}

.footer__list li a {
  text-decoration: none;
  color: #eee;
}

.footer__logo {
  background: #eee;
  font-family: "Vollkorn", serif;
  font-size: 2em;
  margin-top: 50px;
  line-height: 100px;
  text-align: center;
  position: relative;
}

.footer__myname {
  font-family: "Work Sans", sans-serif;
  color: #eee;
  line-height: 20px;
  font-size: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: block;
}

.footer__logo a {
  text-decoration: none;
  color: #090909;
  font-weight: normal;
}

.hidden {
  opacity: 0;
  transition: 1s;
}
