/*
#0c0c0c
#eee
#555
*/

*{
    margin: 0;
    padding: 0;
}
body{
    /*    background: #eee;*/
}
a{
    -webkit-tap-highlight-color: transparent;
}

/*Header*/
header{
    background: #0c0c0c;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
}
.container{
    max-width: 900px;
    margin: auto;
}
.header{
    display: flex;
    max-height: 100px;
    height: 100vw;
    margin: auto;
    transition: .3s;
    /*    transform: rotate(-30deg);*/
}
.header button{
    background: none;
    border: none;
    height: 50px;
    margin-top: 25px;
    width: 50px;
    display: grid;
    color: #eee;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header #materialMenuIcon{
    transition: 1s;
}
.header h1{
    flex: 1;
    display: grid;
    align-content: center;
    text-align: center;
}
.header h1 a{
    text-decoration: none;
    color: #eee;
    font-family: "Vollkorn", serif;
    font-size: 0.7rem;
    font-weight: normal;
    outline: none;
}
#navigationBar{
    position: absolute;
    background: rgba(0,0,0,0.95);
    width: 100%;
    max-width: 900px;
    max-height: 0;
    overflow: hidden;
    top: 100px;
    transition: .5s;
    transition-timing-function: linear;
    z-index: 9;
}
#navigationBar button{
    /*        background: #ccc;*/
    margin: auto;
    height: 50px;
    width: 100%;
    font-family: "Work Sans", sans-serif;
    font-size: 1em;
    border-bottom: 1px solid #0c0c0c;
}
#navigationBar .list{
    /*    background: #999;*/
    text-align: center;
    margin-bottom: 0px;
    max-height: 0;
    overflow: hidden;
    transition: .5s;
    /*    transition-timing-function: linear;*/
}
#navigationBar .list:last-child{
    padding-bottom: 10px;
}
/*
#navigationBar ul li{
background: #888;
}
*/
#navigationBar ul li a{
    /*    background: #777;*/
    /*    display: block;*/
    width: 200px;
    margin: auto;
    height: 40px;
    display: grid;
    align-content: center;
    text-decoration: none;
    text-align: left;
    /*    background: #ccc;*/
    font-family: "Vollkorn", serif;
    font-weight: normal;
    font-size: 0.7em;
    color: #eee;
    outline: none;
    transition: .5s;
    overflow: hidden;
    /*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    */
    /*    -webkit-tap-highlight-color: transparent;*/
}
#navigationBar ul li a:hover{
    /*    height: 0;*/
    color: #555;
}
#searchBar{
    background: rgba(0,0,0,0.95);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    max-width: 900px;
    top: 100px;
    transition: .1s;
    transition-timing-function: linear;
    z-index: 9999;
}
#searchForm{
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
    box-sizing: border-box;
}
#searchForm input{
    flex: 1;
    border: 0;
    padding: 5px;
    height: 40px;
    outline: none;
    font-size: 1em;
    font-family: "Work Sans", sans-serif;
}
#searchForm button{
    margin: 0;
    height: auto;
}
/*Material*/

.material-icons{
    font-size: 1em !important;
}

/*Showcase*/

.showcase{
    margin-top: 100px;
}
.showcaseContainer{
    height: 300px;
    position: relative;
    margin: 0 auto 20px;
    background: #000;
}
.showcaseImages{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .4s;
    transition-timing-function: ease-out;
}
.showcase__link{
    position: absolute;
    text-decoration: none;
    color: #eee;
    font-size: 2em;
    font-family: "Work Sans", sans-serif;
    width: 100%;
    text-align: center;
    height: 100%;
    display: grid;
    align-content: center;
    transition: .5s;
    opacity: 0;
    text-shadow: 0px 0px 30px #000;
}
.showcaseArrows{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}
.showcaseArrows li{
    flex: 1;
    display: grid;
    align-content: center;
    padding: 20px;
    color: #eee;
    list-style: none;
}
.showcaseArrows li:last-of-type{
    text-align: right;
}
.arrowButton{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.showcaseCircles{
    /*    background: #ccc;*/
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
    width: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}
.showcaseCircles li{
    background: #eee;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    float: left;
    list-style: none;
    margin: 0 2px;
}
.activeShowcaseCircle{
    background: rgba(0, 0, 0, 0.5);
}

/*Main*/

/*Promos*/

.main{
    background: #fff;
    margin: auto;
}
#promos{
    /*    background: #ccc;*/
    /*    margin: 10px 0;*/
}
.mainHeader{
    font-size: 1em;
    font-family: "Vollkorn", serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
#promos li{
    background: #090909;
    width: 90%;
    margin: auto;
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
#promos li:nth-of-type(1) .promoImage{
    background-image: url(img/dress.jpeg);
}
#promos li:nth-of-type(2) .promoImage{
    background-image: url(img/hat.jpeg);
}
#promos li:nth-of-type(3) .promoImage{
    background-image: url(img/cat.jpeg);
}
#promos li:nth-of-type(2) h2{
    background: rgba(255, 255, 255, 1);
    color: #555;
}
#promos li:nth-of-type(3) h2{
    color: #555;
    background: rgba(255, 255, 255, 1);
}
#promos li h2{
    font-size: 2em;
    font-family: "Work Sans", sans-serif;
    padding: 0px 15px;
    color: #e26c6c;
    transform: translateY(30px);
    display: inline-block;
    font-weight: bold;
    /*    text-shadow: 2px 2px 2px #000;*/
    /*    background: rgba(0, 0, 0, 0.5);*/
    background: rgba(255, 255, 255, 1);
}
.promoImage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 98%;
    margin: auto;
}
#promos li p{
    padding: 15px;
    font-size: 1em;
    font-family: "Vollkorn", serif;
    color: #eee;
}
.smallButton{
    text-decoration: none;
    color: #090909;
    background: #eee;
    display: grid;
    text-align: center;
    align-content: center;
    margin: 10px auto;
    width: 100px;
    height: 30px;
    font-size: 1em;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    transition: .3s;
}
.smallButton:hover{
    background: #090909;
    color: #eee;
    border: 1px solid #eee;
    box-sizing: border-box;
}

/*Jeans Only*/

#jeans{
    background: #ccc;
    height: 400px;
    display: flex;
    flex-direction: row;
    position: relative;
}
#jeans li{
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    list-style: none;
}
#jeans li:nth-child(1){
    background-image: url(img/jeans0.jpeg);
}
#jeans li:nth-child(2){
    background-image: url(img/jeans1.jpeg);
}
#jeans li:nth-child(3){
    background-image: url(img/jeans2.jpeg);
}
#jeans li:nth-child(4){
    background-image: url(img/jeans3.jpeg);
}
#jeans li:nth-child(5){
    background-image: url(img/jeans4.jpeg);
}
#jeansHeaderContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    text-align: center;
    align-content: center;
}
#jeans__headerAndButton{
    background: rgba(0, 0, 0, 0.7);
    padding: 40px 0;
}
#jeansHeader{
    padding: 5px;
    font-size: 1.5em;
    display: inline-block;
    font-family: "Work Sans", sans-serif;
    color: #eee;
    /*    background: rgba(0, 0, 0, 0.5);*/
}
#jeansHeaderContainer .smallButton{
    margin: 40px auto 0;
}

/*Subscribe Form*/

#main__emailForm{
    border: 2px solid #090909;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}
#main__emailForm h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.5em;
    color: #090909;
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: auto;
}
#main__emailForm input{
    width: 90%;
    max-width: 400px;
    height: 30px;
    border: 0;
    padding: 5px;
    outline: none;
    font-size: 1em;
    font-family: "Work Sans", sans-serif;
    margin: 20px auto;
    display: block;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
}
#main__emailForm button{
    border: 1px solid #090909;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/*Footer*/

footer{
    background: #090909;
    overflow: hidden;
    padding: 50px 0;
}
.footer__text{
    font-family: 'Vollkorn', serif;
    font-size: 1em;
    padding: 20px;
    color: #eee;
}
.footer__col{
    width: 90%;
    max-width: 400px;
    /*    background: #ccc;*/
    padding: 0 20px;
    box-sizing: border-box;
    margin: 20px auto 0;
}
.footer__h3{
    font-family: "Work Sans", sans-serif;
    color: #eee;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.footer__list{
    border-top: 1px solid #eee;
    max-height: 0px;
    overflow: hidden;
    transition: .3s;
    transition-timing-function: linear;
}
.footer__list li{
    line-height: 40px;
    text-align: center;
    list-style: none;
    font-family: "Vollkorn", serif;
}
.footer__list li a{
    text-decoration: none;
    color: #eee;
}
.footer__logo{
    background: #eee;
    font-family: "Vollkorn", serif;
    font-size: 2em;
    margin-top: 50px;
    line-height: 100px;
    text-align: center;
    position: relative;
}
.footer__myname{
    font-family: "Work Sans", sans-serif;
    color: #eee;    
    line-height: 20px;
    font-size: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: block;
}
.footer__logo a{
    text-decoration: none;
    color: #090909;
    font-weight: normal;
}